@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #d1fdff;
}


/*Custom Scroll bar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #d1fdff);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 80px;
    position: absolute;
    top: 1.2%;
    left: 10%;
}

.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 130px;
    font-family: 'Reem Kufi', sans-serif;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
    font-family: 'Reem Kufi', sans-serif;
    margin-top: -30px;
}

.banner-btn {
    margin: 70px auto 0;
    font-weight: bold;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    background-color: #27ccd279;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: #000;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #27cbd2;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: #27cbd2;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}


/* Features Section Content*/

#feature {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 18px;
    color: #27cbd2;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}


/*.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#27cbd2, #fff);
    position: absolute;
    top:-20px;
    left: 0;
    z-index: -1;
    transform:rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}*/

.title-text h1 {
    font-size: 42px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 70%;
    border-radius: 10px;
}

.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #27cbd2;
}

.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon {
    width: 65px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #27cbd2;
    border: 1px solid #27cbd2
}

.feature-text p {
    padding: 0 20px;
    text-align: initial;
}


/* Service Section */

#servicos {
    width: 100%;
    padding: 70px 0px;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-service img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #27cbd2);
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay {
    opacity: 1;
}

.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 0;
}

hr {
    background-color: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service-desc p {
    font-size: 14px;
}

.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}


/*portfolio*/

#portfolio {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 70px 0px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.image-container .image {
    height: 250px;
    width: 350px;
    border: solid 5px rgb(245, 245, 245);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.288);
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.image-container .image:hover img {
    transform: scale(1.1);
}

.popup-image {
    position: fixed;
    top: 0%;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 999;
    display: none;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
    border: 5px solid #fff;
}

@media (max-width:768px) {
    .popup-image img {
        width: 95%;
    }
}


/*Testimonial Section*/

#testimonial {
    width: 100%;
    padding: 70px 0;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}

.testimonial-col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.testimonial-col:hover {
    transform: translateY(-7px);
    background-color: #27cbd2;
    transition: 1s;
}

.testimonial-col i {
    color: orange;
}


/*Footer*/

#footer {
    padding: 100px 0 20px;
    background-color: #f5f5f5;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 28px;
    font-size: 14px;
}

.footer-left .fas,
.footer-right .fas {
    font-size: 18px;
    color: #27cbd2;
    margin: 10px;
}

.social-links {
    text-align: center;
    padding: 50px;
}

.social-links .fab {
    height: 40px;
    width: 40px;
    font-size: 18px;
    line-height: 40px;
    border: 1px solid #27cbd2;
    border-radius: 5px;
    margin: 40px 5px 0;
    color: #27cbd2;
    cursor: pointer;
    transition: .5s;
}

.social-links .fab:hover {
    background-color: #27cbd2;
    color: #fff;
    transform: translateY(-7px);
}

.social-links p {
    font-size: 12px;
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    .banner-text h1 {
        font-size: 42px;
    }
    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
    .title-text h1 {
        font-size: 32px;
    }
    .features {
        flex-basis: 100%;
    }
    .features-img {
        flex-basis: 100%;
        margin: auto;
    }
    .features-img img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .feature-icon {
        width: 90px;
        height: 45px;
    }
    .title-text h1 {
        margin: 20px 50px 0px 50px;
    }
    .banner-text p {
        margin-top: 0px;
    }
    .single-service {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p {
        font-size: 12px;
    }
    hr {
        margin: 5px auto;
    }
    .single-service:hover .service-desc {
        bottom: 18% !important;
    }
    .testimonial-col {
        flex-basis: 100%;
    }
    .footer-left,
    .footer-right {
        flex-basis: 100%;
        font-size: 14px;
    }
}


/*Map*/

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #d1fdff;
    box-shadow: 0px 0px 10px 0px #00968749;
    margin-bottom: 40px;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
}

.contact-form h1 {
    margin-bottom: 10px;
}

.contact-form-txt {
    width: 75%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

#datatime {
    cursor: pointer;
}

.contact-form-txt::placeholder {
    color: #aaa;
}

.contact-form-area::placeholder {
    color: #aaa;
}

.contact-form-txtarea {
    width: 75%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form .btn {
    width: 40%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #27cbd2;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 900;
    transition: all .3s ease;
}

.contact-form .btn:hover {
    background-color: #61e9ee;
}

@media screen and (max-width: 900px) {
    .contact-map {
        flex: 80%;
    }
    .contact-form {
        flex: 20%;
    }
}

.section {
    width: 100%;
    padding: 70px 0px;
    min-height: 100vh;
}

.contact-form h1 {
    color: #d1fdff;
}


/*slider*/

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 850px) {
    .banner {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .banner {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (min-width: 1300px) {
    .banner {
        margin-left: 400px;
        margin-right: 400px;
    }
}

@media screen and (min-width: 1800px) {
    .banner {
        margin-left: 600px;
        margin-right: 600px;
    }
}